{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Django" %}{% endblock %}

{% block content %}
<h1>サインアウト</h1>
<div class="container-fluid">
<p>Logout page</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
